html.lightmode td,
html.lightmode th,
html.lightmode table,
html.lightmode tr
{
    border: 2px solid black;
}
html.lightmode th
{
    color: white;
    background-color: green;
}
html.lightmode th:hover
{
    color: rgb(225,225,225);
    background-color: rgb(0, 138, 0);
}
html.lightmode tr
{
    background-color: rgb(245, 245, 250);
}
html.lightmode tbody tr:nth-child(odd) {
    background-color: rgb(230, 230, 235);
}
html.lightmode body {
    background-color: rgb(250,250,255);
    color: black;
}
html.lightmode input[type="button"],
html.lightmode input[type="file"]::file-selector-button
{
    background-color: rgb(220,220,240);
    border: 2px solid rgb(100,100,120);
}
html.lightmode input[type="button"]:hover,
html.lightmode input[type="file"]::file-selector-button:hover
{
    background-color: rgb(230,230,250);
    border: 2px solid rgb(110,110,130);
}
html.lightmode textarea,
html.lightmode select
{
    background-color: rgb(220,220,240);
    border: 2px solid rgb(100,100,120);
}
html.lightmode select:hover
{
    background-color: rgb(230,230,250);
    border: 2px solid rgb(110,110,130);
}
html.lightmode div#topbar{
    background-color: rgb(100,100,200);;
}


html.darkmode td,
html.darkmode th,
html.darkmode table,
html.darkmode tr
{
    border: 2px solid white;
}
html.darkmode th
{
    color: black;
    background-color: rgb(0,100,0);
}
html.darkmode th:hover
{
    color: rgb(25,25,25);
    background-color: rgb(0, 125, 0);
}
html.darkmode tr
{
    background-color: rgb(10, 10, 5);
}
html.darkmode tbody tr:nth-child(odd) {
    background-color: rgb(25, 25, 20);
}
html.darkmode body {
    background-color: rgb(5,5,0);
    color: white;
}
html.darkmode input[type="button"],
html.darkmode input[type="file"]::file-selector-button
{
    background-color: rgb(35,35,15);
    border: 2px solid rgb(55,55,35);
    color:white;
}
html.darkmode input[type="button"]:hover,
html.darkmode input[type="file"]::file-selector-button:hover
{
    background-color: rgb(55,55,35);
    border: 2px solid rgb(75,75,75);
    color:white;
}
html.darkmode textarea,
html.darkmode select
{
    background-color: rgb(35,35,15);
    border: 2px solid rgb(55,55,35);
    color:white;
}
html.darkmode select:hover
{
    background-color: rgb(55,55,35);
    border: 2px solid rgb(75,75,75);
    color:white;
}
html.darkmode div#topbar{
    background-color: rgb(0,0,25);;
}



html.darkmode input[type="button"]#visualmodeswitch
{
    background-color: rgb(220,220,240);
    border: 2px solid rgb(100,100,120);
    color: black;
}
html.darkmode input[type="button"]#visualmodeswitch:hover
{
    background-color: rgb(230,230,250);
    border: 2px solid rgb(110,110,130);
    color: black;
}
html.lightmode input[type="button"]#visualmodeswitch
{
    background-color: rgb(35,35,15);
    border: 2px solid rgb(55,55,35);
    color:white;
}
html.lightmode input[type="button"]#visualmodeswitch:hover
{
    background-color: rgb(55,55,35);
    border: 2px solid rgb(75,75,75);
    color:white;
}

html.lightmode input[type="button"].selected
{
    background-color: rgb(180,180,200);
    border: 2px solid rgb(100,100,120);
}
html.lightmode input[type="button"].selected:hover
{
    background-color: rgb(180,180,200);
    border: 2px solid rgb(100,100,120);    
}
html.darkmode input[type="button"].selected
{
    background-color: rgb(75,75,55);
    border: 2px solid rgb(55,55,35);
    color:white;
}
html.darkmode input[type="button"].selected:hover
{
    background-color: rgb(75,75,55);
    border: 2px solid rgb(55,55,35);
    color:white;
}