body{
    font-size: 1.3em;
    /*text-align: center;*/
}
td, th{
    padding: 10px;
    text-align: center;
}
td, th, table, tr
{
    border-collapse: collapse;
}
.title
{
    margin-top: 0px;
    margin-bottom: 0.3em;
    font-size: 3em;
}
.author
{
    margin-top: 0px;
    font-size: 1.2em;
}
p
{
    margin-top: 0.4em;
    margin-bottom: 0.1em;
}

input
{
    font-size: 1em;
    margin-top: 2px;
}
select
{
    font-size: 1em;
    margin: auto;
    
}
#container
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.flexcolumn 
{
    display: flex;
    flex-direction: column;
}
.flexrow 
{
    display: flex;
}
.flexrowcenter
{
    display: flex;
    align-items: center;
}
div
{
    padding: 0.4em
}
input[type="button"],
input[type="file"]::file-selector-button
{
    border-radius: 1em;
    padding: 0.5em;
}
select
{
    border-radius: 0.4em;
    padding: 0.5em;
}
input
{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
#replayInput
{
    height:30em;
    width:80%
}
